*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.game-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tic {
  border: 0.5px solid black;
  height: 12.5vw;
  width: 12.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}

.game-over {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-pop-up {
  width: 70vw;
  height: 70vh;
  background-color: white;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mini-tic {
  border: 0.5px solid black;
  height: 2vw;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.prev-board-view {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
